body {
  background-color: #ECECEC;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo img {
  height: 50px;
  width: auto;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav button {
  background-color: #ECECEC;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 10px;
  padding: 40px;
  cursor: pointer;
}

.head {
  color: #F52E2E;
  font-size: 36px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.head h1 {
  margin: 0;
}

.contacts {
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 350px;
}

.contacts h1 {
  color: #F52E2E;
  font-size: 24px;
  margin-bottom: 5px;
}

.contacts p {
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  gap: 250px;   
}

.divider {
  width: 2px;
  height: 425px;
  background-color: #ccc;
}

.footer {
  background-color: #F52E2E;
  color: white;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.footer .social-icons {
  display: flex;
  gap: 50px;
}

.footer .social-icons img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}