.head {
  font-family: 'Poppins', sans-serif;
  color: #F52E2E;
  font-size: 36px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.head h1 {
  margin: 0;
}

.contacts {
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 350px;
}

.contacts h1 {
  font-family: 'Poppins', sans-serif;
  color: #F52E2E;
  font-size: 24px;
  margin-bottom: 5px;
}

.contacts p {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  gap: 250px;   
}

.divider {
  width: 2px;
  height: 425px;
  background-color: #ccc;
}