body {
  background-color: #ECECEC;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.main img {
  margin-bottom: 75px;
  width: 1150px;
  filter: drop-shadow(0 0 20px #F52E2E);
}

.main button {
  font-size: 24px;
  padding: 16px 80px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  filter: drop-shadow(0 0 20px #F52E2E);
}

.main button:hover {
  box-shadow: 0 0 40px #F52E2E;
  transition: all 0.3s ease;
}