.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.header img {
  height: 35px;
  width: auto;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 20px 40px;
  transition: background 0.3s ease;
}

.nav li:hover {
  background-color: #F52E2E;
  color: white;
}

.nav li.active {
  color: #F52E2E;
}