.footer {
  background-color: #F52E2E;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-content {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
  width: 90%;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer .social-icons {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.footer .social-icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.footer .social-icons img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer .social-icons {
    justify-content: center;
  }

  .footer .social-icons img {
    width: 30px;
    height: 30px;
  }

  .footer p {
    font-size: 12px;
  }
}
